.header{
  position: relative;
  font-family: $font-title;
  padding: 10px;
  box-shadow: grey 0 0 10px;
  z-index: 5;
  h1 {
    font-size: 80px;
    text-align: center;
    margin: 0;
    font-weight: lighter;
  }
  i{
    position: absolute;
    top: 50%;
    left: 25px;
    font-size: 20px;
    transform: translateY(-50%);

  }
}